USE [Colegio]
GO
/****** Object:  Table [dbo].[ALUMNO]    Script Date: 28/1/2026 20:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNO](
	[id_alumno] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[fecha_nacimiento] [date] NULL,
	[celular] [varchar](20) NULL,
	[id_representante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AULA]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AULA](
	[id_aula] [int] IDENTITY(1,1) NOT NULL,
	[nombre_aula] [varchar](100) NOT NULL,
	[capacidad_maxima] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_departamento] [varchar](100) NOT NULL,
	[presupuesto_anual] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIO]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIO](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[dia_semana] [varchar](20) NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
	[id_materia] [int] NOT NULL,
	[id_aula] [int] NOT NULL,
	[id_profesor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSCRIPCION]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSCRIPCION](
	[id_inscripcion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inscripcion] [date] NULL,
	[nota_final] [decimal](4, 2) NULL,
	[id_alumno] [int] NOT NULL,
	[id_materia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIA]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIA](
	[id_materia] [int] IDENTITY(1,1) NOT NULL,
	[id_profesor] [int] NOT NULL,
	[nombre_materia] [varchar](100) NOT NULL,
	[creditos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_materia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha_pago] [date] NULL,
	[metodo_pago] [varchar](50) NULL,
	[mes_correspondiente] [varchar](20) NULL,
	[id_alumno] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESOR]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESOR](
	[id_profesor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[especialidad] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[id_departamento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPRESENTANTE]    Script Date: 28/1/2026 20:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPRESENTANTE](
	[id_representante] [int] IDENTITY(1,1) NOT NULL,
	[cedula] [varchar](20) NOT NULL,
	[nombre_completo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion_facturacion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_representante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNO] ON 

INSERT [dbo].[ALUMNO] ([id_alumno], [nombres], [apellidos], [email], [fecha_nacimiento], [celular], [id_representante]) VALUES (1, N'Pepito', N'Pérez', N'pepito@gmail.com', CAST(N'2010-05-15' AS Date), N'0999999991', 1)
INSERT [dbo].[ALUMNO] ([id_alumno], [nombres], [apellidos], [email], [fecha_nacimiento], [celular], [id_representante]) VALUES (2, N'Anita', N'Lopez', N'anita@gmail.com', CAST(N'2011-08-20' AS Date), N'0999999992', 2)
INSERT [dbo].[ALUMNO] ([id_alumno], [nombres], [apellidos], [email], [fecha_nacimiento], [celular], [id_representante]) VALUES (3, N'Juanito', N'Andrade', N'juan@gmail.com', CAST(N'2010-02-10' AS Date), N'0999999993', 3)
SET IDENTITY_INSERT [dbo].[ALUMNO] OFF
GO
SET IDENTITY_INSERT [dbo].[AULA] ON 

INSERT [dbo].[AULA] ([id_aula], [nombre_aula], [capacidad_maxima], [tipo]) VALUES (1, N'Aula 101', 30, N'Clase Teórica')
INSERT [dbo].[AULA] ([id_aula], [nombre_aula], [capacidad_maxima], [tipo]) VALUES (2, N'Laboratorio Química', 20, N'Laboratorio')
INSERT [dbo].[AULA] ([id_aula], [nombre_aula], [capacidad_maxima], [tipo]) VALUES (3, N'Cancha Techada', 100, N'Deportiva')
SET IDENTITY_INSERT [dbo].[AULA] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] ON 

INSERT [dbo].[DEPARTAMENTO] ([id_departamento], [nombre_departamento], [presupuesto_anual]) VALUES (1, N'Ciencias Exactas', CAST(25000.00 AS Decimal(12, 2)))
INSERT [dbo].[DEPARTAMENTO] ([id_departamento], [nombre_departamento], [presupuesto_anual]) VALUES (2, N'Humanidades', CAST(15000.00 AS Decimal(12, 2)))
INSERT [dbo].[DEPARTAMENTO] ([id_departamento], [nombre_departamento], [presupuesto_anual]) VALUES (3, N'Deportes', CAST(12000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[HORARIO] ON 

INSERT [dbo].[HORARIO] ([id_horario], [dia_semana], [hora_inicio], [hora_fin], [id_materia], [id_aula], [id_profesor]) VALUES (1, N'Lunes', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 1, 1, 1)
INSERT [dbo].[HORARIO] ([id_horario], [dia_semana], [hora_inicio], [hora_fin], [id_materia], [id_aula], [id_profesor]) VALUES (2, N'Martes', CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time), 2, 2, 4)
INSERT [dbo].[HORARIO] ([id_horario], [dia_semana], [hora_inicio], [hora_fin], [id_materia], [id_aula], [id_profesor]) VALUES (3, N'Miércoles', CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time), 3, 1, 2)
SET IDENTITY_INSERT [dbo].[HORARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[INSCRIPCION] ON 

INSERT [dbo].[INSCRIPCION] ([id_inscripcion], [fecha_inscripcion], [nota_final], [id_alumno], [id_materia]) VALUES (1, CAST(N'2024-09-01' AS Date), CAST(9.50 AS Decimal(4, 2)), 1, 1)
INSERT [dbo].[INSCRIPCION] ([id_inscripcion], [fecha_inscripcion], [nota_final], [id_alumno], [id_materia]) VALUES (2, CAST(N'2024-09-01' AS Date), CAST(8.00 AS Decimal(4, 2)), 1, 2)
INSERT [dbo].[INSCRIPCION] ([id_inscripcion], [fecha_inscripcion], [nota_final], [id_alumno], [id_materia]) VALUES (3, CAST(N'2024-09-01' AS Date), CAST(10.00 AS Decimal(4, 2)), 2, 3)
SET IDENTITY_INSERT [dbo].[INSCRIPCION] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIA] ON 

INSERT [dbo].[MATERIA] ([id_materia], [id_profesor], [nombre_materia], [creditos]) VALUES (1, 1, N'Física Elemental', 4)
INSERT [dbo].[MATERIA] ([id_materia], [id_profesor], [nombre_materia], [creditos]) VALUES (2, 4, N'Química Orgánica', 4)
INSERT [dbo].[MATERIA] ([id_materia], [id_profesor], [nombre_materia], [creditos]) VALUES (3, 2, N'Historia del Arte', 3)
SET IDENTITY_INSERT [dbo].[MATERIA] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGOS] ON 

INSERT [dbo].[PAGOS] ([id_pago], [monto], [fecha_pago], [metodo_pago], [mes_correspondiente], [id_alumno]) VALUES (1, CAST(150.00 AS Decimal(10, 2)), CAST(N'2024-09-05' AS Date), N'Transferencia', N'Septiembre', 1)
INSERT [dbo].[PAGOS] ([id_pago], [monto], [fecha_pago], [metodo_pago], [mes_correspondiente], [id_alumno]) VALUES (2, CAST(150.00 AS Decimal(10, 2)), CAST(N'2024-09-05' AS Date), N'Efectivo', N'Septiembre', 2)
INSERT [dbo].[PAGOS] ([id_pago], [monto], [fecha_pago], [metodo_pago], [mes_correspondiente], [id_alumno]) VALUES (3, CAST(150.00 AS Decimal(10, 2)), CAST(N'2024-10-05' AS Date), N'Transferencia', N'Octubre', 1)
SET IDENTITY_INSERT [dbo].[PAGOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PROFESOR] ON 

INSERT [dbo].[PROFESOR] ([id_profesor], [nombre], [apellido], [especialidad], [telefono], [email], [id_departamento]) VALUES (1, N'Albert', N'Einstein', N'Física', N'099000001', N'albert@colegio.edu.ec', 1)
INSERT [dbo].[PROFESOR] ([id_profesor], [nombre], [apellido], [especialidad], [telefono], [email], [id_departamento]) VALUES (2, N'Frida', N'Kahlo', N'Arte', N'099000002', N'frida@colegio.edu.ec', 2)
INSERT [dbo].[PROFESOR] ([id_profesor], [nombre], [apellido], [especialidad], [telefono], [email], [id_departamento]) VALUES (3, N'Lionel', N'Messi', N'Fútbol', N'099000003', N'lio@colegio.edu.ec', 3)
SET IDENTITY_INSERT [dbo].[PROFESOR] OFF
GO
SET IDENTITY_INSERT [dbo].[REPRESENTANTE] ON 

INSERT [dbo].[REPRESENTANTE] ([id_representante], [cedula], [nombre_completo], [telefono], [direccion_facturacion]) VALUES (1, N'1710001001', N'Carlos Pérez', N'0991112222', N'Av. Amazonas y Naciones Unidas')
INSERT [dbo].[REPRESENTANTE] ([id_representante], [cedula], [nombre_completo], [telefono], [direccion_facturacion]) VALUES (2, N'1710001002', N'Maria Lopez', N'0993334444', N'Cumbayá, Sector La Primavera')
INSERT [dbo].[REPRESENTANTE] ([id_representante], [cedula], [nombre_completo], [telefono], [direccion_facturacion]) VALUES (3, N'1710001003', N'Jorge Andrade', N'0985556666', N'Valle de los Chillos')
SET IDENTITY_INSERT [dbo].[REPRESENTANTE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__REPRESEN__415B7BE502124A67]    Script Date: 28/1/2026 20:44:44 ******/
ALTER TABLE [dbo].[REPRESENTANTE] ADD UNIQUE NONCLUSTERED 
(
	[cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INSCRIPCION] ADD  DEFAULT (getdate()) FOR [fecha_inscripcion]
GO
ALTER TABLE [dbo].[PAGOS] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[ALUMNO]  WITH CHECK ADD  CONSTRAINT [FK_ALUMNO_REPRESENTANTE] FOREIGN KEY([id_representante])
REFERENCES [dbo].[REPRESENTANTE] ([id_representante])
GO
ALTER TABLE [dbo].[ALUMNO] CHECK CONSTRAINT [FK_ALUMNO_REPRESENTANTE]
GO
ALTER TABLE [dbo].[HORARIO]  WITH CHECK ADD  CONSTRAINT [FK_HORARIO_AULA] FOREIGN KEY([id_aula])
REFERENCES [dbo].[AULA] ([id_aula])
GO
ALTER TABLE [dbo].[HORARIO] CHECK CONSTRAINT [FK_HORARIO_AULA]
GO
ALTER TABLE [dbo].[HORARIO]  WITH CHECK ADD  CONSTRAINT [FK_HORARIO_MATERIA] FOREIGN KEY([id_materia])
REFERENCES [dbo].[MATERIA] ([id_materia])
GO
ALTER TABLE [dbo].[HORARIO] CHECK CONSTRAINT [FK_HORARIO_MATERIA]
GO
ALTER TABLE [dbo].[HORARIO]  WITH CHECK ADD  CONSTRAINT [FK_HORARIO_PROFESOR] FOREIGN KEY([id_profesor])
REFERENCES [dbo].[PROFESOR] ([id_profesor])
GO
ALTER TABLE [dbo].[HORARIO] CHECK CONSTRAINT [FK_HORARIO_PROFESOR]
GO
ALTER TABLE [dbo].[INSCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPCION_ALUMNO] FOREIGN KEY([id_alumno])
REFERENCES [dbo].[ALUMNO] ([id_alumno])
GO
ALTER TABLE [dbo].[INSCRIPCION] CHECK CONSTRAINT [FK_INSCRIPCION_ALUMNO]
GO
ALTER TABLE [dbo].[INSCRIPCION]  WITH CHECK ADD  CONSTRAINT [FK_INSCRIPCION_MATERIA] FOREIGN KEY([id_materia])
REFERENCES [dbo].[MATERIA] ([id_materia])
GO
ALTER TABLE [dbo].[INSCRIPCION] CHECK CONSTRAINT [FK_INSCRIPCION_MATERIA]
GO
ALTER TABLE [dbo].[MATERIA]  WITH CHECK ADD  CONSTRAINT [FK_MATERIA_PROFESOR] FOREIGN KEY([id_profesor])
REFERENCES [dbo].[PROFESOR] ([id_profesor])
GO
ALTER TABLE [dbo].[MATERIA] CHECK CONSTRAINT [FK_MATERIA_PROFESOR]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_ALUMNO] FOREIGN KEY([id_alumno])
REFERENCES [dbo].[ALUMNO] ([id_alumno])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_ALUMNO]
GO
ALTER TABLE [dbo].[PROFESOR]  WITH CHECK ADD  CONSTRAINT [FK_PROFESOR_DEPARTAMENTO] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[DEPARTAMENTO] ([id_departamento])
GO
ALTER TABLE [dbo].[PROFESOR] CHECK CONSTRAINT [FK_PROFESOR_DEPARTAMENTO]
GO
