USE [Clinica_Final]
GO
/****** Object:  Table [dbo].[CONSULTA]    Script Date: 30/1/2026 23:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTA](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[id_paciente] [int] NULL,
	[id_medico] [int] NULL,
	[id_enfermedad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFERMEDAD]    Script Date: 30/1/2026 23:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFERMEDAD](
	[id_enfermedad] [int] IDENTITY(1,1) NOT NULL,
	[nombre_enfermedad] [varchar](100) NULL,
	[tipo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_enfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICO]    Script Date: 30/1/2026 23:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICO](
	[id_medico] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[especialidad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 30/1/2026 23:27:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](15) NULL,
	[apellido] [varchar](15) NULL,
	[edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CONSULTA] ON 

INSERT [dbo].[CONSULTA] ([id_consulta], [fecha], [id_paciente], [id_medico], [id_enfermedad]) VALUES (1, CAST(N'2024-01-05' AS Date), 1, 1, 4)
INSERT [dbo].[CONSULTA] ([id_consulta], [fecha], [id_paciente], [id_medico], [id_enfermedad]) VALUES (2, CAST(N'2024-01-05' AS Date), 2, 4, 1)
INSERT [dbo].[CONSULTA] ([id_consulta], [fecha], [id_paciente], [id_medico], [id_enfermedad]) VALUES (3, CAST(N'2024-01-06' AS Date), 3, 2, 9)
SET IDENTITY_INSERT [dbo].[CONSULTA] OFF
GO
SET IDENTITY_INSERT [dbo].[ENFERMEDAD] ON 

INSERT [dbo].[ENFERMEDAD] ([id_enfermedad], [nombre_enfermedad], [tipo]) VALUES (1, N'Gripe Estacional', N'Viral')
INSERT [dbo].[ENFERMEDAD] ([id_enfermedad], [nombre_enfermedad], [tipo]) VALUES (2, N'COVID-19', N'Viral')
INSERT [dbo].[ENFERMEDAD] ([id_enfermedad], [nombre_enfermedad], [tipo]) VALUES (3, N'Gastritis Aguda', N'Estomacal')
SET IDENTITY_INSERT [dbo].[ENFERMEDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[MEDICO] ON 

INSERT [dbo].[MEDICO] ([id_medico], [nombre], [especialidad]) VALUES (1, N'Dr. Gregory House', N'Diagnóstico')
INSERT [dbo].[MEDICO] ([id_medico], [nombre], [especialidad]) VALUES (2, N'Dra. Meredith Grey', N'Cirugía General')
INSERT [dbo].[MEDICO] ([id_medico], [nombre], [especialidad]) VALUES (3, N'Dr. Stephen Strange', N'Neurología')
SET IDENTITY_INSERT [dbo].[MEDICO] OFF
GO
SET IDENTITY_INSERT [dbo].[PACIENTE] ON 

INSERT [dbo].[PACIENTE] ([id_paciente], [nombre], [apellido], [edad]) VALUES (1, N'Aaron', N'Olmedo', 30)
INSERT [dbo].[PACIENTE] ([id_paciente], [nombre], [apellido], [edad]) VALUES (2, N'Beto', N'Cuevas', 45)
INSERT [dbo].[PACIENTE] ([id_paciente], [nombre], [apellido], [edad]) VALUES (3, N'Carla', N'Morrison', 28)
SET IDENTITY_INSERT [dbo].[PACIENTE] OFF
GO
ALTER TABLE [dbo].[CONSULTA]  WITH CHECK ADD  CONSTRAINT [FK_Enfermedad] FOREIGN KEY([id_enfermedad])
REFERENCES [dbo].[ENFERMEDAD] ([id_enfermedad])
GO
ALTER TABLE [dbo].[CONSULTA] CHECK CONSTRAINT [FK_Enfermedad]
GO
ALTER TABLE [dbo].[CONSULTA]  WITH CHECK ADD  CONSTRAINT [FK_Medico] FOREIGN KEY([id_medico])
REFERENCES [dbo].[MEDICO] ([id_medico])
GO
ALTER TABLE [dbo].[CONSULTA] CHECK CONSTRAINT [FK_Medico]
GO
ALTER TABLE [dbo].[CONSULTA]  WITH CHECK ADD  CONSTRAINT [FK_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[PACIENTE] ([id_paciente])
GO
ALTER TABLE [dbo].[CONSULTA] CHECK CONSTRAINT [FK_Paciente]
GO
